div#loginRow {
    text-align: center;
}

*:not(input):not(button){
    background-color: aqua;
}



.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
}
img#photo{
    width:25%;
    height:auto
}